*.sh
*.zip
*.ipynb
*.log
_*
*tmp*
*test*

__pycache__
logs
.vscode
# .gitignore
.git
nohup.out

# ==============================

baseline
CorpusData/*
!CorpusData/analyse.ipynb
plm_cache
output_space
log_space
label_map

!scripts/*.sh
!just_test.py
!_sshTransmitor.py
!run_server.sh
!backup/**